<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Qrcarte
			{% block title %}{% endblock %}
		</title>
		<meta content="" name="description">
		<meta content="" name="keywords">
		<meta
		content="width=device-width, initial-scale=1.0" name="viewport">
		<!-- Feuille de style -->
		<link
		href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{{ asset('assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
		<link
		href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/qrcarte.css') }}" rel="stylesheet"> {% block stylesheets %}{% endblock %}


		</head>

		<body>


			{% block body %}{% endblock %}


			<!-- Vendor JS Files -->
			<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

			<!-- Template Main JS File -->
			<script src="{{ asset('assets/js/main.js') }}"></script>

			<!-- Fichiers js -->
			{% block javascript %}{% endblock %}

		</body>

	</html>
